/* GLOBAL */
body {
    margin: 0;
    font-family: Arial;
    background: #f1f5f9;
}

/* LAYOUT */
.container {
    display: flex;
}

/* SIDEBAR */
.sidebar {
    width: 220px;
    height: 100vh;
    background: #1e293b;
    color: white;
    padding: 20px;
}

.sidebar h2 {
    margin-bottom: 30px;
}

.sidebar p {
    margin: 15px 0;
    cursor: pointer;
}

/* MAIN AREA */
.main {
    flex: 1;
    padding: 20px 30px;
}

/* TOPBAR */
.topbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* BUTTON */
button {
    padding: 6px 12px;
    background: #ef4444;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

/* GRID */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}

/* CARD */
.course-card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.1);
    transition: 0.2s;
}

.course-card:hover {
    transform: translateY(-5px);
}

/* TEXT */
.course-card h3 {
    margin: 0;
    color: #1e293b;
}

.course-card p {
    font-size: 14px;
    color: #555;
}

/* CARD BUTTON */
.course-card button {
    margin-top: 10px;
    width: 100%;
    background: #3b82f6;
}

.course-card button:hover {
    background: #2563eb;
}
