/* RESET */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f6f9; /* light clean background */
}

/* HEADER */
h2 {
    background: #2c3e50;
    color: white;
    padding: 15px;
    margin: 0;
}

/* USER TEXT */
#user-name {
    color: #00b894;
}

/* BUTTON */
button {
    padding: 8px 15px;
    margin: 10px;
    border: none;
    background: #3498db;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #2980b9;
}

/* SECTION TITLES */
h3 {
    margin-left: 20px;
}

/* COURSE CONTAINER */
#course-container,
#enrolled-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

/* CARD DESIGN */
.course-card {
    background: white;
    padding: 15px;
    width: 220px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    text-align: left;
}

/* CARD TITLE */
.course-card h3 {
    margin-top: 0;
    color: #2c3e50;
}

/* SMALL TEXT */
.course-card p {
    font-size: 14px;
    color: #555;
}
